**1**

A.

In [ ]:
import math

variable_1 = 5
variable_2 = 5.0
variable_3 = 5>1
variable_4 = '5'
variable_5 = 5*2
variable_6 = '5'* 2
variable_7 = '5' +'2'
variable_8 = 5/2
variable_9 = 5 % 2
variable_10 =  {5,2,1}
variable_11 = 5 == 3
variable_12 = math.pi


print(type (variable_1))
print(type (variable_2))
print(type (variable_3))
print(type (variable_4))
print(type (variable_5))
print(type (variable_6))
print(type (variable_7))
print(type (variable_8))
print(type (variable_9))
print(type (variable_10))
print(type (variable_11))
print(type (variable_12))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'set'>
<class 'bool'>
<class 'float'>

** 2**

In [ ]:
# a.
word = 'Supercalifragilisticexpialidocious'

print(len(word))

# b.
if 'ice' in word:
    print('If it contains ice as a substring')
else:
    print('it does not have ice as a substring')

# c.
words = ["Supercalifragilisticexpialidocious", "Honorificabilitudinitatibus", "Bababadalgharaghtakamminarronnkonn"]
longest_word = max(word, key=len)
print(longest_word, ' with ', len(longest_word), ' letters')

# d.
orden=['Berlioz', 'Borodin', 'Brian', 'Bartok', 'Bellini', 'Buxtehude', 'Bernstein']
print(sorted(orden))

34
If it contains ice as a substring
S  with  1  letters
['Bartok', 'Bellini', 'Berlioz', 'Bernstein', 'Borodin', 'Brian', 'Buxtehude']

**3**

In [ ]:
import math
def triangleArea(a,b,c):
    s= (a+b+c)/2
    area = math.sqrt(s*(s-a)*(s-b)*(s-c))
    return area
result = triangleArea(2,2,2)
print (result)

1.7320508075688772

**4**

In [9]:
num_elements=int(input("input the number of elements to be stored in the array:\n"))
elements=[]
for i in range (num_elements):
    element=int(input(f"element-{i}:"))
    elements.append(element)
even_numbers = [num for num in elements if num % 2 ==0]
odd_numbers = [num for num in elements if num % 2!=0]
print("the even elements are:", even_numbers)
print("the odd elements are:", odd_numbers)

input the number of elements to be stored in the array:
5
element-0:25
element-1:47
element-2:42
element-3:56
element-4:32
the even elements are: [42, 56, 32]
the odd elements are: [25, 47]

**5**

In [10]:
#a
def inside (x,y,x1,y1,x2,y2):
    return x1 <= x <= x2 and y1 <= y <= y2
print(inside(1,1,0,0,2,3))
print(inside (-1,-1,0,0,2,3))
#b
rectangle1 = (0.3,0.5,1.1,0.7)
rectangle2 = (0.5,0.2,1.1,2)
in_rectangle1 = inside(1,1,rectangle1[0],rectangle1[1], rectangle1[2],rectangle1[3])
in_rectangle2 = inside(1,1,rectangle2[0], rectangle2[1], rectangle2[2], rectangle2[3])
print(in_rectangle1 and in_rectangle2)

True
False
False

6

In [11]:
def pig(word):
    word = word.lower()
    vowels = ['a','e','i','o','u']
    if word[0] in vowels:
        return word + 'way'
    else:
        return word[1:]+word[0]+'ay'
print(pig('happy'))
print(pig('pencil'))
print(pig('enter'))
print(pig('other'))

appyhay
encilpay
enterway
otherway

7

In [12]:
def bldcount(filename):
    with open(filename, 'r') as file:
        blood_type_count = {}
        for line in file:
            blood_types = line.strip().split(' ')
            print(blood_types)
            for blood_type in blood_types:
                if blood_type in blood_type_count:
                    blood_type_count[blood_type] += 1
                else:
                    blood_type_count[blood_type] = 1
        for blood_type, count in blood_type_count.items():
            if count == 1:
                print(f'There is one patient of blood type {blood_type}.')
            else:
                print(f'There are {count} patients of blood type {blood_type}.')

bldcount('bloodtype.txt')

['AB', 'AB', 'B', 'O', 'A', 'A', 'AB', 'O', 'AB', 'A', 'O', 'O', 'A', 'A', 'A', 'O', 'O', 'O', 'AB', 'O', 'A', 'A', 'A', 'A', 'A', 'AB', 'AB', 'A', 'AB', 'O', 'AB', 'O', 'A', 'O', 'O', 'O', 'AB', 'O', 'AB', 'AB', 'AB', 'A', 'A', 'O']
There are 13 patients of blood type AB.
There is one patient of blood type B.
There are 15 patients of blood type O.
There are 15 patients of blood type A.

8

In [13]:
def curconv(currency, amount):
    parts = []
    with open('currencies.txt','r') as file:

        for line in file:
            if line.startswith(currency):
                parts=line.split()[1]

    return(float(parts)*amount)

print(curconv('EUR',100))
print(curconv('JPY',100))

122.96544
1.241401

9.

1. Trying to add incompatible variables, as in adding 6 + ‘a’: This will cause a TypeError.

2. Referring to the 12th item of a list that has only 10 items: This will cause an IndexError.

3. Using a value that is out of range for a function’s input, such as calling math.sqrt(-1.0): This will cause a ValueError.

4. Using an undeclared variable, such as print(x) when x has not been defined: This will cause a NameError.

5. Trying to open a file that does not exist, such as mistyping the file name or looking in the wrong directory: This will cause a FileNotFoundError.

10

In [14]:
def frequencies(text):
    frequencies_list=[]
    letters='abcdefghijklmnopqrstuvwxyz'
    frequencies_list =[text.lower().count(letter) for letter in letters]
    return frequencies_list
print(frequencies('the quick red fox got bored and went home'))
print(frequencies('apple'))

[1, 1, 1, 3, 5, 1, 1, 2, 1, 0, 1, 0, 1, 2, 4, 0, 1, 2, 0, 3, 1, 0, 1, 1, 0, 0]
[1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]